#formobile {
  display: none;
}

@media only screen and (max-width: 700px) {
  #formobile {
    display: flex;
  }
  #CardGlass {
    width: 100%;
    border: 1px solid gray;
    background: rgba(255, 255, 255, 0.07);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.3px);
    -webkit-backdrop-filter: blur(7.3px);
  }
  #CardGlass:hover {
    box-shadow: 0 4px 8px 0 rgba(17, 17, 17, 0.2),
      0 6px 20px 0 rgba(32, 32, 32, 0.19);
  }
  #CardGlass1 {
    width: 100%;
    border: 1px solid gray;
    background: rgba(255, 255, 255, 0.07);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.3px);
    -webkit-backdrop-filter: blur(7.3px);
  }
  #CardGlass1:hover {
    box-shadow: 0 4px 8px 0 rgba(19, 18, 18, 0.2),
      0 6px 20px 0 rgba(27, 26, 26, 0.19);
  }

  #CardGlass2 {
    width: 100%;
    border: 1px solid gray;
    background: rgba(255, 255, 255, 0.07);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.3px);
    -webkit-backdrop-filter: blur(7.3px);
  }
  #CardGlass2:hover {
    box-shadow: 0 4px 8px 0 rgba(17, 17, 17, 0.2),
      0 6px 20px 0 rgba(32, 32, 32, 0.19);
  }
  #CardGlass3 {
    width: 100%;
    border: 1px solid gray;
    background: rgba(255, 255, 255, 0.07);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.3px);
    -webkit-backdrop-filter: blur(7.3px);
  }
  #CardGlass3:hover {
    box-shadow: 0 4px 8px 0 rgba(19, 18, 18, 0.2),
      0 6px 20px 0 rgba(27, 26, 26, 0.19);
  }
}
