#cardHover:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#profilepic {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin-top: 10px;
  margin-left: 100px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#addinprofileview {
  width: 100%;
  height: 228px;
}
#cardimg {
  height: 150px;
}
.desktopview {
  display: flex;
}
@media only screen and (max-width: 700px) {
  .desktopview {
    display: none;
  }
  #profilepic {
    margin-left: 50px;
  }
  #addinprofileview {
    width: 100%;
    height: 120px;
  }
  #cardHover {
    width: 100%;
  }
}

